<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#helpModal">
    <i class="fas fa-question-circle"></i>
  </button>

<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header delete-modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="delete-modal-icon mb-2"><i class="fas fa-question-circle"></i></div>
          <div class="delete-modal-title">Help</div>
          <div class="help-highlight-text text-danger">Currently website is in test mode, you don't need to login or create account to test it.</div>
        </div>
        <div class="modal-body help-modal-body mb-3">
          <h3 style="text-align: center;" class="mb-4">How Data Collector Works?</h3>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Home To Dashboard</div>
                from home page click on <span class="text-hl">Go To Forms</span>
              </div>
              <span class="badge bg-primary rounded-pill"><i class="fas fa-home"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Forms Dashboard</div>
                on dashboard click on <span class="text-hl">Create New</span> icon
              </div>
              <span class="badge bg-primary rounded-pill"><i class="fas fa-folder-plus"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Manage Form Page</div>
                you can now customize your form, add questions, edit questions, change theme etc.
              </div>
              <span class="badge bg-primary rounded-pill"><i class="fas fa-edit"></i> &nbsp;<i class="fas fa-trash"></i> &nbsp;<i class="fas fa-palette"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Edit Form Title & Description</div>
                  click on title on top of form and start typing, you will see <span class="text-hl">save changes button</span> click on that.
                </div>
                <span class="badge bg-primary rounded-pill">save changes</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Add New Questions</div>
                  you will see a menu on bottom of page, click on <span class="text-hl">+</span> to add new question
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-plus"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Edit or Delete a Question</div>
                  on every question you will see a edit and delete button on top right corner
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-edit"></i> &nbsp;<i class="fas fa-trash"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Make Your Form Live</div>
                  on manage form page inside menu click on <span class="text-hl">Responses button</span> to go to Responses Page
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-folder"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">On Responses Page -> Make Your Form Live/OFF</div>
                  toggle the button and then click save changes, now your form is live share the given URL with anyone to fill this form
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-toggle-on"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">View Responses</div>
                  on responses page keep refreshing the page to see new responses. once user will fill and submit your form you can see their response in table on responses page
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-sync-alt"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">For More Info Contact Developer</div>
                  Hi I'm <a href="https://kundan-6646.github.io/Portfolio/">Kundan Kumar</a>, for more query fill this <a href="https://kundan-6646.github.io/Portfolio/#contact">form</a>, Thanks!!
                </div>
                <span class="badge bg-primary rounded-pill"><i class="fas fa-coffee"></i></span>
            </li>
          </ol>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>