<%- include('partials/header') %>

<div class="row">
    <div class="col-lg-6 col-sm-12 box">
        <h2>Get insights quickly, with Forms</h2>
        <p>Easily create and share online forms and surveys, and analyze responses in real-time.</p>
        <div class="login-buttons">
            <a href="/auth/google">
                <button type="button" class="btn btn-primary btn-lg">
                        <i class="fab fa-google"></i>
                        Sign In with Google
                </button>
            </a>
            <a href="/dashboard">
                <button type="button" class="btn btn-outline-primary btn-lg">
                    Go to Forms
                </button>
            </a>
        </div>
        <div class="create-account">
            <p>Don't have an account?</p>
            <a href="/register">Create an account</a>
        </div>   
    </div>
    <div class="col-lg-6 col-sm-12 box">
        <img src="images/analysis.png" class="img-fluid" alt="Responsive image" />
    </div>
    <footer id="footer" class="white-section">
        © 2022 Copyright <a href="https://forms-app-candy.herokuapp.com/">Data Collector</a>
    </footer>
</div>

<%- include('partials/footer') %>